<h3>{{!isEditMode ? 'Add New User' : 'Update User'}}</h3>
<hr>

<div class="row">
  <div class="col">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <small class="text-danger" *ngIf="userForm.get('name')?.invalid">
          Name is required field!
        </small>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email">
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone" formControlName="phone">
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Password</label>
        <input type="text" class="form-control" id="phone" formControlName="password">
      </div>

      <h3>Address Information</h3>
      <hr>
      <div formGroupName="address">
        <div class="mb-3">
          <label for="addressLine1" class="form-label">Address Line1</label>
          <input type="text" class="form-control" id="addressLine1" formControlName="addressLine1">
          <small class="text-danger" *ngIf="userForm.get('address.addressLine1')?.invalid">
            Address Line1 is required field!
          </small>
        </div>

        <div class="mb-3">
          <label for="addressLine2" class="form-label">Address Line2</label>
          <input type="text" class="form-control" id="addressLine2" formControlName="addressLine2">
        </div>

        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" formControlName="city">
        </div>
      </div>
      <div class="mb-3 mx-auto">
        <button type="submit" [disabled]="userForm.invalid"
          class="btn btn-primary me-2">Submit</button>

        <button type="button" (click)="close()"
          class="btn btn-secondary">Cancel</button>

      </div>
    </form>
  </div>

  <div class="col"></div>
</div>
